*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
}

body {
    min-width: 418px;
}

a {
    background-color: transparent;
    text-decoration: none;
    text-align: center;
    display: block;
    cursor: pointer;
}

.btn {
    border: 1px solid #8C8698;
    border-radius: 15px;
    min-width: 150px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.1em;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 20px;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
}

.edit {
    background-color: #3CB371;
}

.save {
    background-color: #FFD700;
}

.disable {
    background-color: silver;
    cursor: not-allowed;
}

.header {
    background: #fff;
    height: 131px;
}

.i-container{
    width: 1570px;
    margin: 0 auto;
}

.header__wraper{
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    align-content: stretch;
    background: #fff;
    padding-top: 16px;
    height: 102px;
}

.logo_header {
    text-align: left;
    width: 50%;
    vertical-align: middle;
    overflow: hidden;
    position: relative;
}

.logo_header>a {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

.logo_png {
    width: 100%;
    height: 100%;
    object-fit: contain;


}

.auth {
    background-color: #F0FFF0;
}

.header-menu {
    height: 43px;
    background-color: #9f0412;
}

/* ==CATALOG== */
.catalog img {
	float: right;
	z-index: -10;
	/* height: 260; */
    width: 100%;
}

.catalog {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 24px 36px;
	margin-top: 24px;
	margin-left: 24px;
	margin-right: 24px;
}

.discount60 {
	border: 1px solid #FF931D;
}

.discount40 {
	border: 1px solid #FFBE17;
}

.description {
	color: #878787;
	margin-top: auto;
	margin-left: 14px;
	margin-right: 14px;
	margin-bottom: 0px;
}

.title {
	display: flex;
	/* justify-content: space-between; */
	justify-content: flex-end;
	clear: right;
}

.info {
	padding-top: 12px;
	padding-bottom: 12px;
}

.title ~ .info {
	border-top: 2px dotted #E6E6E6;

}

.promotion {
	border-top: 2px dotted #E6E6E6;
	padding-top: 6px;
	padding-bottom: 6px;
	display: flex;
	font-size: 0.86em;
}

.promotion div {
	flex: 1 0 0;
	text-align: center;
}

.promotion div:not(:last-child) {
	border-right: 2px dotted #E6E6E6;
}


@media (max-width: 843px) {
	.catalog {
		display: block;
		min-width: 310px;
	}
	.item {
		margin-top: 24px;
	}
	.description {
		clear: both;
		display: grid;
	}

	.description>div:first-child:not(.title) {
		grid-row-start: 2;

		border-top: 2px dotted #E6E6E6;
	}

	.discount60 img, .discount40 img {
        width: auto;
        object-fit: cover;
        /* align: left; */
		height: 260px;
	}
}


/* ==END CATALOG== */

.row {
    display: flex;
    flex-shrink: 1;
    /* justify-content: flex-start; */
    align-items: flex-end;
    margin-bottom: 20px;
}

@media(max-width:1640px){
    .i-container{
        width: 1262px;
    }
}
@media(max-width:1320px){
   .i-container{
       width: 988px;

    }

    .header__wraper{
        background: #fff;
        padding-left: 25px;
        padding-right: 25px;
    }
    .logo_header {
        margin-top: 0;
    }
}
@media(max-width:1010px){
   .i-container{
       width: auto;
    }

    .header{
        height: 108px;
    }

    .header__wraper{
        background: #fff;
        padding: 0;
        padding-left: 20px;
        padding-right: 20px;
        height: 94px;
    }
    .logo_header {
        margin-top: 11px;
        padding-left: 3%;
    }

    .auth {
        margin-top: 11px;
        padding-right: 3%;
    }

}
@media(max-width:700px){
    .header__wraper{
        padding-top: 7px;
    }

    .logo_header {
        margin-top: 0px;
    }
}
@media(max-width:480px){
    .logo_header {
        min-width: auto;
    }
}
